samples: 'config/samples.tsv'
joint_calling_groups: 'config/joint_calling_groups.tsv'

ref:
    fasta: 'Saccharomyces_cerevisiae.R64-1-1.dna_sm.toplevel.fa'
    idx: 'Saccharomyces_cerevisiae.R64-1-1.dna_sm.toplevel.fa.fai'
    bwa_idx: 'Saccharomyces_cerevisiae.R64-1-1.dna_sm.toplevel.fa.sa'

bwa_index:
  mem_mb: 369000

fastp_se:
  adapter: ''
  extra: '--correction'
  threads: 2

fastp_pe:
  adapter: ''
  extra: '--correction'
  threads: 2

bwa_mem:
  wrapper: 'bwa-mem2/mem' # bwa/mem or bwa-mem2/mem
  extra: ''
  sort: 'samtools'
  sort_order: 'coordinate'
  sort_extra: ''
  threads: 8

samtools_merge:
  params: ''
  threads: 8

samtools_index:
  params: ''

deepvariant:
  model: 'wgs'
  extra: ''
  params: ''
  threads: 8

deepvariant_gvcf:
  model: 'wgs'
  extra: ''
  params: ''
  threads: 8

glnexus:
  config: 'DeepVariantWGS'
  threads: 8

bcftools_index:
  extra: ''
  threads: 8

bcftools_merge:
  params: '--force-samples'

bcftools_filter:
  filter: ''

bcftools_sv_filter:
  filter: '-e 'INFO/SVLEN>50000 || INFO/SVLEN<-50000 || (INFO/SVLEN<50 && INFO/SVLEN>0) || (INFO/SVLEN>-50 && INFO/SVLEN<0)''

dysgu:
  bin_path: "/home/panguangze/.local/bin/dysgu"
  run_params: "-a --min-support 5 -v 2"
  threads: "8"
  merge_trio_params: "--merge-within True -v2 --trio True"